@media screen and (max-width: 768px) {
    nav a.icon {
        float: right;
        display: block;
    }
    nav a {
        display: none;
    }
    nav a.icon {
        float: right;
        display: block;
    }
    .left, .right, .right img, .left p {
        width: 99% !important;
        float: none !important; 
    }
    .left p {
        font-size: x-large !important;
    }
    nav.responsive a.icon {
        position: absolute;
        left: 0;
        top: 0;
    }
    nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .thumbnail {
        width: 99%;
    }
}

body {
    margin: 0;
    width: 99%;
}

* {
    font-family: 'Rubik', sans-serif;
    text-decoration: none !important;
}

nav {
    padding: 8px;
    width: 99%;
    overflow: hidden;
    background-color: #3EB489;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
}

nav .icon {display: none;}

nav div {
    float: right;
    margin-right: 1%;
    display: flex;
    position: absolute;
    right: 0;
}

nav a {
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
    color: #fff;
    font-size: larger;
}

.logo {
    float: left;
    margin-left: 1%;
    display: flex;
}

.button {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background-color: #FFFF00;
    border: none;
    color: #000;
    padding: 8px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 18px;   
    font-size: large;
    cursor: pointer;
}

.button:hover {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.main {
    padding: 10px;
    padding-top: 25px;
    content: "";
    clear: both;
    display: table;
    width: 98%;
}

.main.featured {
    text-align: center;
}

.main.featured h3 {
    font-size: x-large;
}
.green {
    background-color: #3EB489;
    color: #fff;
}

.left {
    float: left;
    margin-left: 2%;
    width: 34%;
}

.right {
    float: right;
    margin-right: 1%;
    width: 55%;
}

.features {
    text-align: center;
    border-radius: 25px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    flex: 0 0 calc(33.333333% - 10px); 
    margin: 5px;
    background-color: yellow;
}
.features:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.features a {
    color: rgb(16, 0, 16);
}

.activities {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 99%; 
}
footer {
    margin-top: 50px;
    bottom: 0;
}

.thumbnail {
    width: 70%;
    margin: auto;
    height: auto;
    box-shadow: rgba(155, 165, 181, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.form {
    margin: auto;
    width: 60%;
    padding: 5% 0%;
    margin-bottom: 130px;
}

.form input {
    display: block;
    width: 99%;
    border-radius: 6px;
    padding: 8px;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    border: 1px solid #000;
    font-size: large;
}
.form h2, .form p {
    text-align: center;
}
.form button {
    background-color: #FFFF00;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border: none;
    color: #000;
    padding: 10px;
    padding-left: 22px;
    padding-right: 22px;
    width: 99%;
    border-radius: 8px;   
    font-size: large;
}
.form input:active {
    border: 1px solid #3EB489;
}
.top {
    margin-top: 130px;
}