{% extends "ascend/layout.html" %}
{% load static %}
{% block title %}About - Ascend{% endblock title %}
{% block body %}
<section class="main" style="text-align: center; padding-top: 20px; margin: auto; width: 50%;">
    <h3 style="font-size: xx-large;">Ascend helps you to elevate in your teaching profession</h3>
    <em>By offering you an all-in-one application, Ascend empowers to acheive more</em>
</section>
<section class="main bottom">
    <div class="right">
        <img src="{% static "ascend/nigerian-teacher.webp" %}" alt="Image of a teacher teaching class" />
    </div>
    <div class="left">
        <h2>About Ascend</h2>
        <p style="font-size: larger; line-height: 1.5;">Ascend is a platform designed to equip Nigerian teachers with the knowledge and tools needed to improve learning outcomes and their teaching delivery. With Ascend, teachers get access to courses, training and teaching resources and AI-powered tools on improving themselves.</p>
        <br>
        <h3>Why Ascend?</h3>
        <p style="font-size: larger; line-height: 1.5;">Many teachers in Nigeria and across Africa face overwhelming workloads, limited resources, and few opportunities for professional development. Ascend was built to change that. By providing easy access to innovative tools and resources, Ascend helps teachers streamline their work, freeing up more time for impactful teaching while improving their overall teaching quality.</p>
        <a href="{% url "register" %}"><button class="button">Try Ascend<i class='bx bxs-chevrons-right bx-tada' ></i></button></a>
    </div>
</section>
{% endblock body %}