{% extends "ascend/layout.html" %}
{% block title %}Using AI for Teaching - Ascend{% endblock title %}
{% block body %}
<section class="main" style="background-color: #800080; color: #fff;">
    <div class='left' style="width: 55%;">
        <h2>Using AI for Teaching</h2>
        <em>Certificate Included</em>
        <p></p>
    </div>
    <div class="right courses" style="width: 34%;">
        <iframe src="https://www.youtube.com/embed/yqWX86uT5jM?si=9rrkpiHhJfJMJ75j" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <br>
        <button disabled>Enroll</button>
    </div>
</section>
<section class="main">
    <div class="left">
        <h3>What You'll Learn</h3>
        <em>Coming Soon</em>
    </div>
</section>
<section class="main">
    <div class="left courses">
        <h3>Course Outline</h3>
        <em>Coming Soon</em>
    </div>
</section>

{% endblock body %}
