{% extends "ascend/layout.html" %}
{% load static %}
{% block title %}Assessment Generator - Ascend{% endblock title %}
{% block body %}
<div class="form">
    <div class="tool">
        <h2>Assessment Generator</h2>
        <p>Provide the topic or notes you want to generate questions for.</p>
        <form id="assessment-form">
            <textarea name="content" rows="10" maxlength="950" id="content" required placeholder="Type in the topic or notes"></textarea>
            <br>
            <input type="number" min="5" max="50" name="number" required id="number" placeholder="Type in the number of questions"/>
            <br>
            <button type="submit">Generate</button>
        </form>
    </div>
    <br>
    <div id="result" class="tool">
    </div>
</div>
<script src="{% static "ascend/assessment.js" %}"></script>
{% endblock body %}
