{% extends "ascend/layout.html" %}
{% load static %}
{% block title %}Courses - Ascend{% endblock title %}
{% block body %}
<section class="main bottom">
    <h2>Courses</h2>
    {% if user.is_authenticated %}
    <div class="activities">
        <div class="courses">
            <img src="{% static "ascend/ai-generated.webp" %}" height="100%" alt="ai-for-teaching-course-image" />
            <h3>Using AI for Teaching</h3>
            <p>In this course, educators learn how to harness Artificial Intelligence (AI) for teaching</p>
            <a href="{% url "ai_course" %}"><button class='button'>View</button></a>
        </div>
    </div>
    {% else %}
    <div>
        <i class='bx bx-lock-alt bx-lg'></i>
        <h3><em>You need to be logged in to access courses</em></h3>
    </div>
    {% endif %}
</section>


{% endblock body %}