{% extends "ascend/layout.html" %}
{% block title %}Feedback - Ascend{% endblock title %} 
{% block body %}
<section class="main">
    <p>Ascend is designed to help teachers upskill and improve the quality of their teaching. Our goal: "Provide teachers with training, resources, and tools to improve their quality." Part of achieving this goal involves measuring and tracking our impact and effectiveness to order to serve you better. Kindly take few minutes to provide feedback through this feedback form.
    </p>
    <iframe id="form" src="https://docs.google.com/forms/d/e/1FAIpQLSc5Tu3rlog2kTNiIvekeLCi9kHJgWQ4r2fonX9lWMTkVVe5BQ/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</section>
{% endblock body %}