{% extends "ascend/layout.html" %}
{% load static %}
{% block description %}Ascend is a web application designed designed to equip teachers with the knowledge and tools needed to improve their teaching and learning outcomes.{% endblock description %} 
{% block title %}Ascend: Elevate Teaching Excellence. Transform Learning Futures.{% endblock title %}
{% block body %}
{% if user.is_authenticated %}
<section class="main">
    <div style="text-align: center;">
        <h3>Hello {{ user.username }}!</h3>
        <p>Welcome to Ascend. Here, you can begin exploring the ways Ascend is designed to enhance your teaching experience.</p>
    </div>
    <div class="activities">
        <a class="features hub" href="{% url "resources" %}">
            <i class='bx bxs-receipt bx-lg'></i>
            <h3>Resources</h3>
        </a>
        <a class="features hub" href="{% url "tools" %}">
            <i class='bx bxs-pen bx-lg'></i>
            <h3>Tools</h3>
        </a>
        <a class="features hub" href="{% url "courses" %}">
            <i class='bx bxs-video bx-lg'></i>
            <h3>Courses</h3>
        </a>
</section>
{% else %}
<section class="main">
    <div class="right">
        <img src="{% static "ascend/Teachers.webp" %}" alt="Image of a teacher teaching class" />
    </div>
    <div class="left">
        <h2>Empowering Teachers</h2>
        <p style="font-size: x-large; line-height: 1.5;"><em>Ascend</em> equips teachers with the 
            knowledge and skills needed to improve 
            learning outcomes, helping them 
            ascend in their careers.</p>
        <a href="{% url "register" %}"><button class="button">Get Started</button></a>
        <a href="{% url "login" %}" style="padding: 15px; font-size: large;">Log In</a>
    </div>
</section>
<section class="main green">
    <p style="text-align: center; font-size: x-large;">Level Up Your <span class="fancy">Teaching</span> and Improve <span class="fancy">Learning Outcomes</span></p>
    <div class="activities">
        <a href="#">
            <div class="features">
                <i class='bx bxs-book-open bx-lg'></i>
                <h3>Teacher Training</h3>
                <p>Elevate your teaching with curated content.</p>
            </div>
        </a>
        <a href="#">
            <div class="features">
                <i class='bx bxs-receipt bx-lg'></i>
                <h3>Resources</h3>
                <p>Access resources to boost your skills.</p>
            </div>
        </a>
        <a href="#" class="color: #fff;">
            <div class="features">
                <i class='bx bxs-pen bx-lg'></i>
                <h3>Tools</h3>
                <p>Empower your teaching journey with tools.</p>
            </div>
        </a>
    </div>
</section>
<section class="main featured">
    <h3>Featured Course</h3>
    <img src="{% static "ascend/ai-course-thumbnail.webp" %}" alt="Ascend Logo" class="thumbnail" />
    <h4>Using Artificial Intelligence in Teaching</h4>
    <em>Certificate included</h4>
</section>
<section class="main green cta">
    <p style="font-size: x-large;">Elevate Teaching Excellence. Transform Learning Futures.</p>
    <a href="{% url "register" %}"><button class="button" style="text-align: center;">Get Started</button></a>
</section>
{% endif %}
{% endblock body %}
