{% extends "ascend/layout.html" %}
{% load static %}
{% block title %}Ascend{% endblock title %}
{% block body %}

<section class="main top">
    <div class="right">
        <img src="{% static "ascend/Teachers.png" %}" />
    </div>
    <div class="left">
        <h2>Empowering Teachers</h2>
        <p style="font-size: x-large; line-height: 1.5;"><em>Ascend</em> equips teachers with the 
            knowledge and skills needed to improve 
            learning outcomes, helping them 
            ascend in their careers.</p>
        <a href="{% url "register" %}"><button class="button">Get Started</button></a>
        <a href="{% url "login" %}" style="padding: 15px; font-size: large;">Log In</a>
    </div>
</section>
<section class="main green">
    <div class="activities">
        <a href="">
            <div class="features">
                <i class='bx bxs-book-open bx-lg'></i>
                <h3>Teacher Training</h3>
                <p>Elevate your teaching with curated content.</p>
            </div>
        </a>
        <a href="">
            <div class="features">
                <i class='bx bxs-receipt bx-lg'></i>
                <h3>Resources</h3>
                <p>Access resources to boost your skills.</p>
            </div>
        </a>
        <a href="" class="color: #fff;">
            <div class="features">
                <i class='bx bxs-pen bx-lg'></i>
                <h3>Tools</h3>
                <p>Empower your teaching journey with tools.</p>
            </div>
        </a>
    </div>
</section>
<section class="main featured">
    <h3>Featured Course</h3>
    <img src="{% static "ascend/ai-course-thumbnail.png" %}" alt="Ascend Logo" class="thumbnail" />
    <h4>Using Artificial Intelligence in Teaching</h4>
    <em>Certificate included</h4>
</section>
{% endblock body %}
