{% extends "ascend/layout.html" %}
{% block description %}Access tools on Ascend to improve your teaching workflow{% endblock description %}
{% block title %}Tools - Ascend{% endblock title %}
{% block body %}
<section class="main">
    <h2 style="text-align: center;">Tools</h2>
    <p style="text-align: center;">A collection of tools to enable you to improve your teaching workflow</p>
    {% if user.is_authenticated %}
    <div class="activities" style="margin: auto; width: 70%;">
        <a href="{% url "assessment" %}" class="card">
            <i class='bx bx-right-top-arrow-circle bx-sm'></i>
            <br>
            <h3>Assessment Generator</h3>
            <p>Generate quizzes in just a click</p>   
        </a>
        <a href="{% url "planner" %}" class="card">
            <i class='bx bx-right-top-arrow-circle bx-sm'></i>
            <br>
            <h3>Lesson Planner</h3>
            <p>Plan your lessons in few seconds</p>
        </a>
        <a href="{% url "pedagogy" %}" class="card">
            <i class='bx bx-right-top-arrow-circle bx-sm'></i>
            <br>
            <h3>Pedagogy Guide</h3>
            <p>Create teaching guides seamlessly</p>
        </a>
        <a href="{% url "ascendchat" %}" class="card">
            <i class='bx bx-right-top-arrow-circle bx-sm'></i>
            <br>
            <h3>Ascend Chat</h3>
            <p>Chat with our AI chatbot, Ascend Chat</p>
        </a>
        <div class="card" style="background-color: grey;">
            <br>
            <h3>Auto Grader</h3>
            <p>Easily grade assignments and exams solutions.</p><em>Coming soon</em>
        </div>
    </div>
    {% else %}
    <div>
        <i class='bx bx-lock-alt bx-lg'></i>
        <h3><em>You need to be logged in to access tools</em></h3>
    </div>
    {% endif %}
</section>
{% endblock body %}